In [2]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import math
import datetime
import random, string
import faker
import plotly.figure_factory as ff
import openpyxl

# from geopy.geocoders import Nominatim

In [2]:
regions_df = pd.read_csv('./region.csv')

# названия пипец херовые у этой таблицы
regions_df

,name,type,name_with_type,federal_district,kladr_id,fias_id,okato,oktmo,tax_office,postal_code,iso_code,timezone,geoname_code,geoname_id,geoname_name
0,Адыгея,Респ,Респ Адыгея,Южный,100000000000,d8327a56-80de-4df2-815c-4f6ab1224c50,79000000000,79000000,100,385000.0,RU-AD,UTC+3,RU.01,584222,Adygeya Republic
1,Башкортостан,Респ,Респ Башкортостан,Приволжский,200000000000,6f2cbfd8-692a-4ee4-9b16-067210bde3fc,80000000000,80000000,200,452000.0,RU-BA,UTC+5,RU.08,578853,Bashkortostan Republic
2,Бурятия,Респ,Респ Бурятия,Дальневосточный,300000000000,a84ebed3-153d-4ba9-8532-8bdf879e1f5a,81000000000,81000000,300,671000.0,RU-BU,UTC+8,RU.11,2050915,Buryatiya Republic
3,Алтай,Респ,Респ Алтай,Сибирский,400000000000,5c48611f-5de6-4771-9695-7e36a4e7529d,84000000000,84000000,400,649000.0,RU-AL,UTC+7,RU.03,1506272,Altai
4,Дагестан,Респ,Респ Дагестан,Северо-Кавказский,500000000000,0bb7fa19-736d-49cf-ad0e-9774c4dae09b,82000000000,82000000,500,368000.0,RU-DA,UTC+3,RU.17,567293,Dagestan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Чукотский,АО,Чукотский АО,Дальневосточный,8700000000000,f136159b-404a-4f1f-8d8d-d169e1374d5c,77000000000,77000000,8700,NaN,RU-CHU,UTC+12,RU.15,2126099,Chukotka
82,Ямало-Ненецкий,АО,Ямало-Ненецкий АО,Уральский,8900000000000,826fa834-3ee8-404f-bdbc-13a5221cfb6e,71140000000,71900000,8900,629000.0,RU-YAN,UTC+5,RU.87,1486462,Yamalo-Nenets
83,Крым,Респ,Респ Крым,Южный,9100000000000,bd8e6511-e4b9-4841-90de-6bbc231a789e,35000000000,35000000,9100,NaN,UA-43,UTC+3,UA.11,703883,Crimea
84,Севастополь,г,г Севастополь,Южный,9200000000000,6fdecb78-893a-4e3f-a5ba-aa062459463b,67000000000,67000000,9200,299700.0,UA-40,UTC+3,UA.20,694422,Sevastopol City
85,Байконур,г,г Байконур,NaN,9900000000000,63ed1a35-4be6-4564-a1ec-0c51f7383314,55000000000,55000000,9900,468320.0,KZ-BAY,UTC+5,KZ.08,1538316,Baikonur

In [3]:
# geolocator = Nominatim(user_agent="geoapiExercises")
#
# # Latitude & Longitude input
# Latitude = "25.594095"
# Longitude = "85.137566"
#
# location = geolocator.reverse(Latitude+","+Longitude)
#
# # Display
# print(location)

In [4]:
# import reverse_geocoder as rg
#
# coordinates = (55.751244, 37.618423),(62.0313335,129.7017859),(56.7429074,37.1116399)
#
# results = rg.search(coordinates) # default mode = 2
#
# print(results)

In [5]:
# 1я запись - рф
salary_df = pd.read_excel('./region-salary.xlsx', sheet_name="prepared")

salary_df['region'] = salary_df['region'].str.strip()

country_salary, regions_salary = salary_df[0:1], salary_df[1:-1]

country_salary

,region,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,...,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00
0,Российская Федерация,42263.2,43062.4,46324.2,48029.8,47926.2,49347.9,46509.4,44961.3,45540.9,...,66757.4,62268.9,62456.8,66572.2,62199.7,59906.7,61878.7,62470,63060.2,88468.3

In [6]:
regions_salary.head(100)

,region,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,...,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00
1,Белгородская область,31858.0,30679.9,32926.5,33617.2,33899.1,34149.1,35196.3,34048.5,33948.7,...,47558.7,46406.6,46133.3,47677.0,48265.5,47312.9,45587.3,47737,47482.2,60041.5
2,Брянская область,26826.3,26752.4,27729.8,29055.9,32207.1,31328.1,29353.6,29262.1,29258.0,...,38681.3,40238.4,40353.6,42622.3,39574.4,39434.4,39363.3,41936,42405.2,52951.2
3,Владимирская область,31220.1,29983.7,30956.6,31668.3,32635.8,34235.4,31298.5,31081.2,31292.1,...,43716.0,43592.3,44187.9,48068.2,44136.4,44196.2,44551.2,45371,46269.9,57641.2
4,Воронежская область,30413.9,30766.5,32714.6,33632.7,32905.6,34588.2,33562.1,31900.5,32209.8,...,45467.2,45424.4,45142.4,48634.8,45056.3,44130.1,45830.7,46644,46979.2,58053.1
5,Ивановская область,24711.1,24874.7,26448.7,26454.6,27158.9,28976.3,26417.4,26166.4,26531.2,...,35285.9,34963.5,35232.4,39363.7,35001.7,34268.5,35059.8,36083,36544.0,49620.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Хабаровский край,46214.1,45852.2,47393.4,48111.7,51917.8,51288.9,50313.1,49200.7,49558.8,...,60394.6,62495.7,63104.9,66500.1,64037.2,60134.2,62201.7,65561,64590.4,86282.3
78,Амурская область,42594.1,42297.6,45157.8,45418.0,48145.0,48776.0,46519.0,45198.2,45188.6,...,64584.4,63467.7,67991.7,67141.5,63730.8,63325.7,63737.2,63394,64543.7,91683.1
79,Магаданская область,79876.7,81942.3,82095.8,93977.3,106218.6,92504.2,89170.7,83615.4,86461.5,...,115915.8,119796.7,123813.4,118894.4,115585.7,106065.5,109565.6,112280,147020.9,156732.5
80,Сахалинская область,84593.1,79555.3,81240.7,81263.0,88329.5,87576.8,88562.8,81151.5,82512.9,...,99008.9,96967.5,105614.2,104537.3,102878.9,102796.8,101871.6,100144,97645.9,127032.2
81,Еврейская авт.область,38016.7,39053.7,40498.7,40276.4,43862.2,44421.3,42233.6,40322.9,41334.3,...,51351.1,56899.4,56082.7,58328.5,56986.9,54085.3,54263.7,56397,55518.7,76270.9

In [7]:
citiesData = pd.read_csv('./koord_russia.csv', delimiter=';', encoding='windows-1251')

citiesData['Регион'] = citiesData['Регион'].str.strip()

citiesData = citiesData.merge(salary_df, left_on=['Регион'], right_on=['region'], how="inner")

# citiesData['region']
# citiesData['region'] == np.nan
# citiesData['region'].isnull().sum()

citiesData

,Город,Регион,Федеральный округ,lat,lng,region,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,...,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00
0,Абдулино,Оренбургская область,Приволжский,"53,677839","53,647263",Оренбургская область,29873.9,29847.1,31129.4,31494.2,...,40257.5,41420.9,44213.8,45410.5,44349.1,43102.4,42599.5,43318,43806.3,57243.5
1,Бугуруслан,Оренбургская область,Приволжский,"53,6523","52,432606",Оренбургская область,29873.9,29847.1,31129.4,31494.2,...,40257.5,41420.9,44213.8,45410.5,44349.1,43102.4,42599.5,43318,43806.3,57243.5
2,Бузулук,Оренбургская область,Приволжский,"52,788116","52,262438",Оренбургская область,29873.9,29847.1,31129.4,31494.2,...,40257.5,41420.9,44213.8,45410.5,44349.1,43102.4,42599.5,43318,43806.3,57243.5
3,Кувандык,Оренбургская область,Приволжский,"51,478483","57,361168",Оренбургская область,29873.9,29847.1,31129.4,31494.2,...,40257.5,41420.9,44213.8,45410.5,44349.1,43102.4,42599.5,43318,43806.3,57243.5
4,Медногорск,Оренбургская область,Приволжский,"51,403794","57,58324",Оренбургская область,29873.9,29847.1,31129.4,31494.2,...,40257.5,41420.9,44213.8,45410.5,44349.1,43102.4,42599.5,43318,43806.3,57243.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,Спас-Клепики,Рязанская область,Центральный,"55,131038","40,175786",Рязанская область,30488.1,30436.7,31731.3,33808.9,...,43263.3,45533.7,44064.9,47383.7,45099.0,43508.1,44091.9,44571,45242.1,59974.5
875,Спасск-Рязанский,Рязанская область,Центральный,"54,407072","40,376424",Рязанская область,30488.1,30436.7,31731.3,33808.9,...,43263.3,45533.7,44064.9,47383.7,45099.0,43508.1,44091.9,44571,45242.1,59974.5
876,Шацк,Рязанская область,Центральный,"51,496839","23,930185",Рязанская область,30488.1,30436.7,31731.3,33808.9,...,43263.3,45533.7,44064.9,47383.7,45099.0,43508.1,44091.9,44571,45242.1,59974.5
877,Магадан,Магаданская область,Дальневосточный,"59,568164","150,808541",Магаданская область,79876.7,81942.3,82095.8,93977.3,...,115915.8,119796.7,123813.4,118894.4,115585.7,106065.5,109565.6,112280,147020.9,156732.5
878,Сусуман,Магаданская область,Дальневосточный,"62,780464","148,153687",Магаданская область,79876.7,81942.3,82095.8,93977.3,...,115915.8,119796.7,123813.4,118894.4,115585.7,106065.5,109565.6,112280,147020.9,156732.5

In [8]:
inflation_total_df = pd.read_csv('./inflation_total.csv')

inflation_total_df = inflation_total_df.loc[(inflation_total_df['Год'] >= 2019) & (inflation_total_df['Год'] <= 2022)]

inflation_total_df

,Год,Янв,Фев,Мар,Апр,Май,Июн,Июл,Авг,Сен,Окт,Ноя,Дек,Всего
1,2022,8.74,9.16,16.70,17.83,17.11,15.90,15.09,14.30,13.67,12.63,11.97,11.92,11.92
2,2021,5.19,5.67,5.78,5.52,6.01,6.51,6.47,6.69,7.41,8.14,8.40,8.39,8.39
3,2020,2.42,2.31,2.55,3.10,3.03,3.21,3.37,3.57,3.67,3.98,4.42,4.91,4.91
4,2019,5.00,5.24,5.27,5.17,5.13,4.66,4.59,4.33,3.99,3.77,3.54,3.05,3.05

In [9]:
inflation_by_month_df = pd.read_csv('./inflation_total.csv')

inflation_by_month_df = inflation_by_month_df.loc[(inflation_by_month_df['Год'] >= 2019) & (inflation_by_month_df['Год'] <= 2022)]

inflation_by_month_df

,Год,Янв,Фев,Мар,Апр,Май,Июн,Июл,Авг,Сен,Окт,Ноя,Дек,Всего
1,2022,8.74,9.16,16.70,17.83,17.11,15.90,15.09,14.30,13.67,12.63,11.97,11.92,11.92
2,2021,5.19,5.67,5.78,5.52,6.01,6.51,6.47,6.69,7.41,8.14,8.40,8.39,8.39
3,2020,2.42,2.31,2.55,3.10,3.03,3.21,3.37,3.57,3.67,3.98,4.42,4.91,4.91
4,2019,5.00,5.24,5.27,5.17,5.13,4.66,4.59,4.33,3.99,3.77,3.54,3.05,3.05

In [10]:
bank_key_rate = pd.read_csv('./bank_key_rate.csv')

bank_key_rate['date'] = pd.to_datetime(bank_key_rate['date'], format="%d.%m.%Y")

bank_key_rate = bank_key_rate.loc[(bank_key_rate['date'] >= datetime.datetime(2019, 1, 1)) & (bank_key_rate['date'] <= datetime.datetime(2022, 12, 31))]

bank_key_rate

           date  value
1310 2019-01-09   7.75
1311 2019-01-10   7.75
1312 2019-01-11   7.75
1313 2019-01-14   7.75
1314 2019-01-15   7.75
...         ...    ...
2310 2022-12-26   7.50
2311 2022-12-27   7.50
2312 2022-12-28   7.50
2313 2022-12-29   7.50
2314 2022-12-30   7.50

[1005 rows x 2 columns]

In [3]:
usd_rub_df = pd.read_csv('./usb-rub.csv')

usd_rub_df = usd_rub_df[['Date', 'Adj Close']].rename(columns={"Date": "date", "Adj Close": "value"})

usd_rub_df

           date      value
0    2021-11-01  70.823402
1    2021-11-02  71.579903
2    2021-11-03  71.605400
3    2021-11-04  71.695602
4    2021-11-05  71.405998
..          ...        ...
366  2023-03-28  76.500000
367  2023-03-29  76.525002
368  2023-03-30  77.290001
369  2023-03-31  77.239998
370  2023-03-31  77.975998

[371 rows x 2 columns]

In [4]:
imoex_df = pd.read_csv('./imoex.csv')

imoex_df = imoex_df[['Date', 'Adj Close']].rename(columns={"Date": "date", "Adj Close": "value"})

imoex_df

           date        value
0    2021-11-01  4221.490234
1    2021-11-02  4207.529785
2    2021-11-03  4184.870117
3    2021-11-05  4174.759766
4    2021-11-08  4218.270020
..          ...          ...
333  2023-03-24  2391.530029
334  2023-03-27  2440.679932
335  2023-03-28  2442.189941
336  2023-03-29  2460.870117
337  2023-03-30  2465.929932

[338 rows x 2 columns]